body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.text{
    position: absolute;
    top:50%;
    left:50%;
    z-index:1;
    text-align: center;
    transform: translate(-50%,-50%);
    background: linear-gradient(0deg ,rgba(222,222,222,.4),rgba(100,100,100,.4));
    backdrop-filter: blur(5px);
    border-radius: 100px;
    overflow: hidden;
    padding:10px;
    color:rgb(22 22 22);
    transition: .4s ease;
}

.text>p,h1{
    margin:10px;
}

.slider{
    height: 100vh;
    margin:auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.slide-track{
    display:flex;
    width:calc(100vh * 10);
    height: 100vh;
    align-items: center;
    animation: scroll 35s linear infinite;
}

.slide{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    padding:10px;
}

img{
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 3px 3px 20px 0 rgba(22,22,22,.6);
    transition: .4s ease;
}

img:hover{
    transform:scale(1.05);
}


@keyframes scroll {
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(calc(-100vh*5));
    }
}